<html layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="content-area d-flex justify-content-center" style="width:100%; height: 93.8vh;">
    <div class="d-flex flex-column" style="width:100%;padding:20px;">
        <div class="row flex-nowrap justify-content-between" style="border-bottom : 2px solid black; padding-bottom:20px;">
            <div class="col-4 d-flex justify-content-start">
                <a th:href="@{/manager}" style="display: flex; justify-content: center;text-align: center;">
                    <button class="btn btn-dark">뒤로가기</button>
                </a>
            </div>
            <div class="col-4 text-center">
                <p style="font-weight: bold; font-size: 2rem;margin:0;">유저 관리</p>
            </div>
            <div class="col-4 d-flex justify-content-end">
                <div style="padding:0; display:flex;">
                    <input class="form-control me-2" type="text" id="search_kw" th:value="${kw}" style="width:200px;" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-secondary" style="padding:0;" type="button" id="btn_search">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                             stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img"
                             viewBox="0 0 24 24"><title>Search</title>
                            <circle cx="10.5" cy="10.5" r="7.5"></circle>
                            <path d="M21 21l-5.2-5.2"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3" style="margin-top:20px;">
            <!-- Thymeleaf를 사용하여 사용자 카드 3개씩 반복 -->
            <div th:each="user : ${paging}" th:unless="${user.role == 'admin'}">
                <div class="col mb-4">
                    <div class="card h-100" style="width: 100%;">
                        <div class="row g-0">
                            <div class="col-md-4" style="width:40%;">
                                <img th:src="@{|/photo/${user.fileName}|}" class="img-fluid rounded-start" alt="..." style="border-radius: 50%;object-fit: cover; width: 100%; height: 100%;">
                            </div>
                            <div class="col-md-8" style="width:60%;">
                                <div class="card-body d-flex flex-column h-100" style="padding-top: 40px;padding-bottom: 10px;">
                                    <h5 th:text="'닉네임 : ' + ${user.nickname}"></h5>
                                    <p th:text="'이메일 : ' + ${user.email}"></p>
                                    <p>
                                        <span th:if="${user.role == 'user'}">권한 : 사용자</span>
                                    </p>
                                    <span th:text="'가입일시 : ' + ${#temporals.format(user.createDate, 'yyyy-MM-dd HH:mm')}"></span>
                                    <div class="d-flex justify-content-end" style="margin-top:20px;">
                                        <a href="#" class="btn btn-sm btn-outline-secondary" th:text="멤버등급UP" style="margin-right:10px;"></a>
                                        <a href="javascript:void(0);" th:data-uri="@{|/manager/member/delete/${user.userId}|}" class="delete btn btn-sm btn-outline-danger" th:text="'유저 ' + '탈퇴'"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 페이징처리 시작 -->
        <div th:if="${!paging.isEmpty()}" class="d-flex justify-content-center align-items-center text-center" style="width:100%;">
            <ul class="pagination justify-content-center" style="width: auto;margin: 20px;">
                <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                    <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                    th:if="${page >= paging.number-5 and page <= paging.number+5}"
                    th:classappend="${page == paging.number} ? 'active'"
                    class="page-item">
                    <a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
                </li>
                <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                    <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- 페이징처리 끝 -->
        <form th:action="@{/manager/member}" method="get" id="searchForm">
            <input type="hidden" id="kw" name="kw" th:value="${kw}">
            <input type="hidden" id="page" name="page" th:value="${paging.number}">
        </form>
    </div>
</div>
<script layout:fragment="script" type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });
    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener('click', function() {
        document.getElementById('kw').value = document.getElementById('search_kw').value;
        document.getElementById('page').value = 0;  // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
        document.getElementById('searchForm').submit();
    });
</script>
</html>
