<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="content-area" style="height: 93.8%;">
    <div class="container d-flex justify-content-center align-items-center" style="width:100%; height: 100%;">
        <div class="d-flex flex-column justify-content-center align-items-center" style="border: 2px solid gray; border-radius: 20px; padding: 20px;width: 50%;height: 50%;">
            <h2 style="text-align: center;">아이디 찾기</h2>
            <h5 class="d-flex justify-content-center">아이디 찾는 방법을 선택해 주세요.</h5>
            <div class="d-flex justify-content-center" style="padding: 10%;">
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                               onclick="redirectToFindId()" style="width: 20px; height: 20px; margin-top: 1px;">
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <a href="/member/findId" onclick="selectRadioButton()">이메일로 찾기</a>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 100%; text-align: center; border-bottom: 1px solid #ccc; line-height: 0.1em; margin: 10px 0;"></div>
            <div class="d-flex justify-content-center" style="padding: 10%;">
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                               onclick="redirectToFindIdPhone()" style="width: 20px; height: 20px; margin-top: 5px;">
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <a href="/member/findIdPhone" onclick="selectRadioButtonPhone()">휴대전화번호로 찾기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="script" type='text/javascript'>
    function redirectToFindId() {
        // Redirects to URI for finding ID by email when radio button is selected
        window.location.href = "/member/findId";
    }
    function redirectToFindIdPhone() {
        // Redirects to URI for finding ID by phone number when radio button is selected
        window.location.href = "/member/findIdPhone";
    }
    // Changes radio button selection state when <a> tag is clicked
    function selectRadioButton() {
        document.getElementById("flexRadioDefault1").checked = true;
    }
    function selectRadioButtonPhone() {
        document.getElementById("flexRadioDefault2").checked = true;
    }
</script>
</html>
