<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="content-area" style="height:93.8%;">
    <div style="height:100%;background:lightgray;">
        <div class="d-flex" style="width:100%; height:100%;">
            <div style="width:70%;">
            </div>
            <div style="width:30%;margin:5% 15% 5% 5%;">
                <div class="d-flex flex-column" style="border:2px solid white; border-radius: 10px;background:white;">
                    <div style="height:10%">
                        <div class="d-flex">
                            <a class="btn btn-light" style="flex: 1;" th:href="@{/user/login}" role="button">로그인</a>
                            <a class="btn btn-light" style="flex: 1;" th:href="@{/user/signup}" role="button">회원가입</a>
                        </div>
                    </div>
                    <div style="height:90%; padding:20px;">
                        <form th:action="@{/user/login}" method="post">
                            <div th:if="${param.error}">
                                <div class="alert alert-danger">
                                    사용자ID 또는 비밀번호를 확인해 주세요.
                                </div>
                            </div>
                            <div class="mb-3">
                                <!-- ID 찾기 버튼 -->
                                <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 10px;">
                                    <label for="username" class="form-label text-center mb-0">사용자ID</label>
<!--                                    <a th:href="@{/user/findIdMethodSelect}" class="find-common-button btn btn-sm btn-secondary" setyle="font-siz: 12px;">아이디 찾기</a>-->
                                    <!-- Button trigger modal -->
                                    <button type="button" class="find-common-button btn btn-sm btn-secondary" style="font-size: 11px;" data-bs-toggle="modal" data-bs-target="#exampleModal">아이디 찾기</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Find ID</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="d-flex justify-content-center" style="padding: 2%; font-weight: bold;">아이디 찾는 방법을 선택해 주세요.</div>
                                                    <div class="d-flex justify-content-center" style="padding: 5%;">
                                                        <div class="form-group">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="findMethod" value="1" id="flexRadioDefaultEmail" style="width: 20px; height: 20px; margin-top: 1px;">
                                                                <label for="flexRadioDefaultEmail">이메일로 찾기</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div style="width: 100%; text-align: center; border-bottom: 1px solid #ccc; line-height: 0.1em; margin: 10px 0;"></div>
                                                    <div class="d-flex justify-content-center" style="padding: 5%;">
                                                        <div class="form-group">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="findMethod" value="2" id="flexRadioDefaultPhone" style="width: 20px; height: 20px; margin-top: 1px;">
                                                                <label for="flexRadioDefaultPhone">휴대전화번호로 찾기</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-dark" onclick="checkIDRadio()">선택</button>
                                                </div>
                                                <script>
                                                    function checkIDRadio() {
                                                        var selectedValue = document.querySelector('input[name="findMethod"]:checked').value;
                                                        if (selectedValue === '1') {
                                                            window.location.href = '/user/findIdMethod?type=email';
                                                        } else if (selectedValue === '2') {
                                                            window.location.href = '/user/findIdMethod?type=phone';
                                                        }
                                                    }
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <input type="text" name="username" id="username" class="form-control" placeholder="ID" required style="border-top-right-radius: 0; border-bottom-right-radius: 0;">
                                    <span class="input-group-text" style="border-top-left-radius: 0; border-bottom-left-radius: 0; background: transparent; border-color: #CCC;">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="10" cy="10" r="9" stroke="#CCC" stroke-miterlimit="10"></circle>
                                            <path d="M6.537 11.469a5.038 5.038 0 006.64 0M6.776 7.48v1.496M13.02 7.48v1.496" stroke="#CCC" stroke-miterlimit="10" stroke-linecap="round"></path>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <!-- PW 찾기 버튼 -->
                                <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 10px;">
                                    <label for="password" class="form-label text-center mb-0">비밀번호</label>
<!--                                    <a href="#" class="find-common-button btn btn-sm btn-secondary" style="font-size: 11px;">비밀번호 찾기</a>-->
                                    <button type="button" class="find-common-button btn btn-sm btn-secondary" style="font-size: 11px;" data-bs-toggle="modal" data-bs-target="#exampleModal2">비밀번호 찾기</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabelPw" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabelPw">Find PW</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="d-flex justify-content-center" style="padding: 2%; font-weight: bold;">아이디 찾는 방법을 선택해 주세요.</div>
                                                    <div class="d-flex justify-content-center" style="padding: 5%;">
                                                        <div class="form-group">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="findPwMethod" value="1" id="PwflexRadioDefaultEmail" style="width: 20px; height: 20px; margin-top: 1px;">
                                                                <label for="PwflexRadioDefaultEmail">이메일로 찾기</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div style="width: 100%; text-align: center; border-bottom: 1px solid #ccc; line-height: 0.1em; margin: 10px 0;"></div>
                                                    <div class="d-flex justify-content-center" style="padding: 5%;">
                                                        <div class="form-group">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="findPwMethod" value="2" id="PwflexRadioDefaultPhone" style="width: 20px; height: 20px; margin-top: 1px;">
                                                                <label for="PwflexRadioDefaultPhone">휴대전화번호로 찾기</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-dark" onclick="checkPWRadio()">선택</button>
                                                </div>
                                                <script>
                                                    function checkPWRadio() {
                                                        var selectedValue = document.querySelector('input[name="findPwMethod"]:checked').value;
                                                        if (selectedValue === '1') {
                                                            window.location.href = '/user/findPwMethod?type=email';
                                                        } else if (selectedValue === '2') {
                                                            window.location.href = '/user/findPwMethod?type=phone';
                                                        }
                                                    }
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <input type="password" name="password" id="password" class="form-control" placeholder="Password">
                                    <span class="input-group-text" style="border-top-left-radius: 0; border-bottom-left-radius: 0; background: transparent; border-color: #CCC;">
                                        <svg width="17" height="21" viewBox="0 0 17 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g opacity=".2" stroke="#000">
                                                <rect x=".5" y="8.289" width="15.301" height="11.905" rx="1.5"></rect>
                                                <circle cx="8.489" cy="14.244" r="1.877"></circle>
                                                <path d="M4.754 8.471v-3.69C4.754 2.693 6.427 1 8.489 1c2.063 0 3.736 1.693 3.736 3.781v3.69" stroke-miterlimit="10"></path>
                                            </g>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                            <button class="btn btn-dark w-100 py-2" style="margin-top: 20px;" type="submit">로그인</button>
                            <div style="width: 100%; text-align: center; border-bottom: 1px solid #ccc; line-height: 0.1em; margin: 30px 0 30px 0;">
                                <span style="background-color: #fff; padding: 0 10px; font-size: 14px; color: #333;font-weight: bold;">다른 계정으로 로그인 하기</span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="/oauth2/authorization/google">
                                    <img src="/oAuth2/google_icon.png" alt="Google Login" style="width: 80px; height: 80px;">
                                </a>
                                <a href="/oauth2/authorization/kakao">
                                    <img src="/oAuth2/kakao_icon.png" alt="Kakao Login" style="width: 80px; height: 80px;">
                                </a>
                                <a href="/oauth2/authorization/naver">
                                    <img src="/oAuth2/naver_icon.png" alt="Naver Login" style="width: 80px; height: 80px;">
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>