<nav th:fragment="navbarFragment" class="navbar navbar-dark bg-dark bg-body-tertiary" style="background:gray;"
     xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <a class="d-flex align-items-center" th:href="@{/store/list}">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-egg-fried" viewBox="0 0 16 16">
                <path d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                <path d="M13.997 5.17a5 5 0 0 0-8.101-4.09A5 5 0 0 0 1.28 9.342a5 5 0 0 0 8.336 5.109 3.5 3.5 0 0 0 5.201-4.065 3.001 3.001 0 0 0-.822-5.216zm-1-.034a1 1 0 0 0 .668.977 2.001 2.001 0 0 1 .547 3.478 1 1 0 0 0-.341 1.113 2.5 2.5 0 0 1-3.715 2.905 1 1 0 0 0-1.262.152 4 4 0 0 1-6.67-4.087 1 1 0 0 0-.2-1 4 4 0 0 1 3.693-6.61 1 1 0 0 0 .8-.2 4 4 0 0 1 6.48 3.273z"></path>
            </svg>
            <span class="text-white ms-2 fw-bold fs-4">Store List</span>
        </a>
        <div class="d-flex justify-content-end align-items-center">
            <div class="d-flex align-items-center">
                <!-- Image -->
                <div th:if="${#authorization.expression('isAuthenticated()') and #authentication.principal != null and #authentication.principal.fileName != null}">
                    <img th:src="@{|/photo/${#authentication.principal.fileName}|}"
                         class="img-fluid"
                         style="object-fit: cover; width: 30px; height: 30px; border-radius: 50%; margin-right: 5px;">
                </div>
                <!-- Nickname -->
                <div class="dropdown">
                    <span class="dropdown-toggle" style="margin-right: 10px; font-size: 1rem; font-weight: bold; color: white;"
                          th:if="${#authorization.expression('isAuthenticated()')}"
                          th:text="${#authentication.principal.nickname}"
                          data-bs-toggle="dropdown" aria-expanded="false">
                    </span>
                    <ul class="dropdown-menu" style="height: auto;">
                        <li><a class="dropdown-item" th:href="@{/user/profile}">마이페이지</a></li>
                    </ul>
                </div>
            </div>
            <!-- Sign in / Sign out buttons -->
            <a class="btn btn-dark" sec:authorize="isAnonymous()" th:href="@{/user/login}" style="margin: 3px;">Sign in</a>
            <a class="btn btn-dark" sec:authorize="isAuthenticated()" th:href="@{/user/logout}" style="margin: 3px;">Sign out</a>
        </div>
    </div>
</nav>