<html layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="content-area" style="height:90%;">
    <div class="d-flex" style="width:100%; height:100%;">
        <div class="d-flex flex-column" style="width: 10%; height: 20%; margin: 20px; padding: 10px; border: 1px solid gray; border-radius:10px; background: #f8f9fa;">
            <ul class="list-group">
                <li>
                    <h3 style="font-size: 1.2em; font-weight: bold;">내 정보 관리</h3>
                    <ol class="d-flex flex-column">
                        <li><a class="btn btn-sm btn-dark" style="margin:10px;" th:href="@{/user/profile}">계정관리</a></li>
                        <li th:if="${#authorization.expression('hasRole(''ROLE_OWNER'')')}"><a class="btn btn-sm btn-dark" style="margin:10px;" th:href="@{/store/owner/list}">내 가게 보기</a></li>
                    </ol>
                </li>
            </ul>
        </div>
        <div style="width: 90%; height: 100%; padding: 30px;">
            <h2 class="title" style="padding: 10px 0 10px 0;">계정관리</h2>
            <h5 class="title" style="padding: 10px 0 10px 0;">기본정보</h5>
            <div class="sign-form">
                <div class="form-group d-flex flex-column justify-content-center align-items-center text-center" style="border: 1px solid gray; border-radius: 10px; background: #f8f9fa; height: 100%; padding: 30px;">
                    <img onerror="this.style.visibility='hidden'" th:src="@{|/photo/${userinfo.fileName}|}" class="img-fluid" style="object-fit: cover; width: 20%; height: 20%;border-radius: 50%; margin-bottom: 30px;">
                    <span th:text="${userinfo.nickname}" style="width: 250px; padding: 10px;"></span>
                    <span th:text="${userinfo.email}" style="width: 250px; padding: 10px;"></span>
                    <a th:href="@{/user/profile/modify}" class="btn btn-dark" style="padding: 10px;">수정</a>
                </div>
            </div>
        </div>
    </div>
</div>
</html>