<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container my-3">
    <div class="col-6">
        <a class="btn btn-sm btn-light" th:href="@{/review/create}">리뷰 작성</a>

    </div>
    <table class="table">
        <thead class="table-dark">
        <tr class="text-center">
            <th style="width:50%">내용</th>
            <th>글쓴이</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="review : ${reviewList}">
            <td>
                <a th:href="@{|/review/detail/${review.id}|}" th:text="${review.content}"></a>
            </td>
            <td th:if="${review.author != null}" th:text="${review.author.nickname}"></td>
            <td th:unless="${review.author != null}" th:text="비회원"></td>
            <td th:text="${#temporals.format(review.createDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>

</div>
</html>