<!--<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<div layout:fragment="content" class="container my-3">-->


<!--    <div >-->

<!--        <div class="row my-3">-->
<!--            <div class="card w-50" style="width: 18rem; height: 800px;">-->
<!--                <img src="..." class="card-img-top" alt="...">-->
<!--                <div class="card-body">-->
<!--                    <h5 th:text="${targetReview.rating}" class="card-title" ></h5>-->
<!--                    <td th:if="${targetReview.author == null}" th:text="비회원"></td>-->
<!--                    <td th:unless="${targetReview.author == null}" th:text="${targetReview.author}"></td>-->
<!--                    <p class="card-text"  th:text="${targetReview.content}"></p>-->

<!--                    <a href="/review/list" class="btn btn-light btn-sm">목록</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


<!--</div>-->
<!--</html>-->

<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="review_detail.css">
</head>
<div layout:fragment="content" class="container my-3">
    <div>
        <div class="row my-3" style="justify-content:center;">
            <div class="card w-50" style="width: 18rem; height: 800px;">
                <div class="img-container" style="border-bottom:solid 1px gray; padding:15px">
                    <img src="https://cdn.pixabay.com/photo/2017/09/16/19/21/salad-2756467_1280.jpg"
                         class="card-img-top" alt="..." style="margin-top:11px; border:solid 1px; border-radius: 10px;">
                </div>
                <div class="card-body" style="padding:0px;">
                    <td th:text="${targetReview.author.nickname}"
                        style="border-bottom:solid 1px"></td>

                    <div>
                        <div class="mb-3">
                            <div class="starpoint_wrap">
                                <h5 th:text="${targetReview.rating}" class="card-title"></h5>
                                <div class="starpoint_box" >
                                    <label for="starpoint_1" class="label_star" title="0.5"><span class="blind">0.5점</span></label>
                                    <label for="starpoint_2" class="label_star" title="1"><span class="blind">1점</span></label>
                                    <label for="starpoint_3" class="label_star" title="1.5"><span class="blind">1.5점</span></label>
                                    <label for="starpoint_4" class="label_star" title="2"><span class="blind">2점</span></label>
                                    <label for="starpoint_5" class="label_star" title="2.5"><span class="blind">2.5점</span></label>
                                    <label for="starpoint_6" class="label_star" title="3"><span class="blind">3점</span></label>
                                    <label for="starpoint_7" class="label_star" title="3.5"><span class="blind">3.5점</span></label>
                                    <label for="starpoint_8" class="label_star" title="4"><span class="blind">4점</span></label>
                                    <label for="starpoint_9" class="label_star" title="4.5"><span class="blind">4.5점</span></label>
                                    <label for="starpoint_10" class="label_star" title="5"><span class="blind">5점</span></label>
                                    <input type="radio" id="starpoint_1" value="0.5" class="star_radio" name="rating">
                                    <input type="radio" id="starpoint_2" value="1.0" class="star_radio" name="rating">
                                    <input type="radio" id="starpoint_3" value="1.5" class="star_radio" name="rating">
                                    <input type="radio" id="starpoint_4" value="2.0" class="star_radio" name="rating">
                                    <input type="radio" id="starpoint_5" value="2.5" class="star_radio" name="rating">
                                    <input type="radio" id="starpoint_6" value="3.0" class="star_radio" name="rating">
                                    <input type="radio" id="starpoint_7" value="3.5" class="star_radio" name="rating">
                                    <input type="radio" id="starpoint_8" value="4.0" class="star_radio" name="rating">
                                    <input type="radio" id="starpoint_9" value="4.5" class="star_radio" name="rating">
                                    <input type="radio" id="starpoint_10" value="5.0" class="star_radio" name="rating">
                                    <span class="starpoint_bg"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="border:solid 1px; width:100%; box-sizing: border-box; height:150px;">
                        <p class="card-text" th:text="${targetReview.content}"></p>
                    </div>
                    <a href="/review/list" class="btn btn-light btn-sm"
                       style="display:flex; justify-content:center; width:20%; margin-left:auto; border:solid 1px; border-radius:10px; margin-top:20px;">목록</a>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
