<!doctype html>
<html lang="ko" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <title>title</title>
</head>
<body>
<nav class="navbar bg-dark" style="margin-bottom:20px;">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <img src="/food.png" style="width:40px; height:40px; border-radius: 50%;">
            <span class="text-white ms-2">맛집리스트</span>
        </a>
    </div>
</nav>
<div class="background-wrap">
    <div>
        <div class="restaurant">
            <p> restaurant name </p>
            <p th:unless = "${targetReview == null}" th:text="${targetReview.restaurant}"></p>
        </div>
        <div class="thumbs-up">
            thumbs-up
            <p th:unless = "${targetReview == null}" th:text="${targetReview.thumbsup}"></p>
        </div>
        <div class="rating">
            rating
            <p th:unless = "${targetReview == null}" th:text="${targetReview.rating}"></p>
        </div>
    </div>
    <div>
        <div class="profile">???</div>
        <div class="membername">
            -membername-
            <p th:unless = "${targetReview == null}" th:text="${targetReview.author}"></p>
        </div>
    </div>
    <div>
        <div class="pictures">
            empty/추후수정할예정
        </div>
    </div>
    <div>
        <div class="review-content" >
            내용없음
            <p th:unless = "${targetReview == null}" th:text="${targetReview.content}">empty</p>
        </div>
    </div>
</div>
</body>
</html>