<html layout:decorate="~{memberlayout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
    <div class="container" style="margin-top:50px;">
        <div>
            <div class="my-3 border-bottom" style="display:flex; justify-content:center;">
                <h4 class="text-black ms-2">회원가입</h4>
            </div>
            <form th:action="@{/member/signup}" th:object="${memberCreateForm}" method="post" class="text-left">
                <div th:replace="~{form_errors :: formErrorsFragment}"></div>
                <div class="mb-3">
                    <label for="memberId" class="form-label">아이디</label>
                    <input type="text" th:field="*{memberId}" class="form-control" placeholder="영문 4자 이상, 최대 20자" required>
                </div>
                <div class="mb-3">
                    <label for="password1" class="form-label">비밀번호</label>
                    <input type="password" th:field="*{password1}" class="form-control" placeholder="숫자, 영문, 특수문자 포함 최소 8자 이상" required>
                </div>
                <div class="mb-3">
                    <label for="password2" class="form-label">비밀번호 확인</label>
                    <input type="password" th:field="*{password2}" class="form-control" placeholder="비밀번호 한 번 더 입력" required>
                </div>
                <div class="mb-3">
                    <label for="nickname" class="form-label">닉네임</label>
                    <input type="text" th:field="*{nickname}" class="form-control" placeholder="닉네입 입력" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">이메일</label>
                    <input type="email" th:field="*{email}" class="form-control" placeholder="이메일 주소 입력" required>
                </div>
                <button class="btn btn-dark w-100 py-2" style="margin-top: 20px;" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>
</html>