<html layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
    <div class="container my-3">
        <div class="col-6">
            <a class="btn btn-sm btn-light" th:href="@{/store/create}">가게 등록</a>
        </div>
        <table class="table">
            <thead class="table-dark" style="text-align:center;">
            <tr>
                <th>작성자</th>
                <th>이름</th>
                <th>카테고리</th>
                <th>내용</th>
                <th>작성일자</th>
                <th></th>

            </tr>
            </thead>
            <thead class="table-dark">
            <tbody>
            <tr class="text-center" th:each="store : ${ownerStoreList}">
                <td th:text="${store.author.getNickname()}"></td>
                <td>
                    <a th:href="@{|/store/detail/${store.id}|}" th:text="${store.name}"></a>
                </td>
                <td th:text="${store.category}"></td>
                <td th:text="${store.content}"></td>
                <td th:text="${#temporals.format(store.createDate, 'yyyy-MM-dd HH:mm')}"></td>

                <td>
                    <a th:href="@{|/store/modify/${store.id}|}"
                       th:text="수정"></a>
                    <a href="javascript:void(0);" th:data-uri="@{|/store/delete/${store.id}|}"
                       class="delete btn btn-sm btn-outline-secondary" th:text="삭제"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script layout:fragment="script" type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
</script>
</html>