<html layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2">가게등록</h5>
    <form th:object="${storeForm}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="mb-3">
            <label for="name" class="form-label">이름</label>
            <textarea th:field="*{name}" class="form-control" rows="1"></textarea>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea th:field="*{content}" class="form-control" rows="15"></textarea>
        </div>
        <input type="file" name="files" multiple/>

        <div>
            <select name="category" class="form-select" aria-label="Default select example">
                <option selected>카테고리</option>
                <option th:selected="${storeForm.category == '한식'}" value="한식">한식</option>
                <option th:selected="${storeForm.category == '양식'}" value="양식">양식</option>
                <option th:selected="${storeForm.category == '일식'}" value="일식">일식</option>
                <option th:selected="${storeForm.category == '중식'}" value="중식">중식</option>
            </select>
        </div>
        <div class="mb-3">
            <!-- 버튼 -->
<!--            <div class="btnWrap">-->
<!--                <div th:object="${menuForm}">-->
<!--                    <label for="menuName" class="form-label">메뉴이름</label>-->
<!--                    <textarea th:field="*{menuName}" class="form-control" rows="1"></textarea>-->
<!--                    <label for="price" class="form-label">가격</label>-->
<!--                    <textarea th:field="*{price}" class="form-control" rows="1"></textarea>-->
<!--                </div>-->
<!--                <button type="button" id="menuButton">메뉴추가</button>-->
<!--            </div>-->

        <div class="mb-3">
            <div id="parah">메뉴추가</div>
                <input type="button" value="추가" onclick="addInput();"/>
                <input type="button" value="삭제" onclick="deleteInput();"/>
        </div>


            <!--            &lt;!&ndash; 박스 추가되는 영역 &ndash;&gt;-->
            <!--            <div id="boxWrap">-->
            <!--                <div class="original">-->
            <!--                    original-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div th:object="${menuForm}">-->
            <!--                <label for="menuName" class="form-label">메뉴이름</label>-->
            <!--                <textarea th:field="*{menuName}" class="form-control" rows="1"></textarea>-->
            <!--                <label for="price" class="form-label">가격</label>-->
            <!--                <textarea th:field="*{price}" class="form-control" rows="1"></textarea>-->
            <!--            </div>-->

        </div>
        <div class="mb-3">
            <label for="roadAddress" class="form-label">도로명주소</label>
            <textarea th:field="*{roadAddress}" class="form-control" rows="1"></textarea>
        </div>
        <input type="submit" value="저장하기" class="btn btn-primary my-2">
    </form>
    <script>
        var arrInput = new Array(0);
      var arrInputValue = new Array(0);

    function addInput() {
      arrInput.push(arrInput.length);
      arrInputValue.push("");
      display();
    }

    function display() {
      document.getElementById('parah').innerHTML="";
      for (intI=0;intI<arrInput.length;intI++) {
        document.getElementById('parah').innerHTML+=createInput(arrInput[intI], arrInputValue[intI]);
      }
    }

    function saveValue(intId,strValue) {
      arrInputValue[intId]=strValue;
    }

    function createInput(id,value1, value2) {
        var input1 = "<input name='menuName' type='text' id='test" + id + "' placeholder='메뉴이름' onChange='javascript:saveValue(" + id + ", this.value)' ><br>";
        var input2 = "<input name='price' type='text' id='anotherTest" + id + "' placeholder='가격' onChange='javascript:saveAnotherValue(" + id + ", this.value)' ><br>";

      return input1+input2;
    }

    function deleteInput() {
      if (arrInput.length > 0) {
         arrInput.pop();
         arrInputValue.pop();
      }
      display();
    }
    </script>
</div>

</html>



