<html layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
<div class="container my-3">
    <div class="col-6">
        <a class="btn btn-sm btn-light" th:href="@{/store/create}">가게 등록</a>
    </div>
    <table class="table">-
        <thead class="table-dark">
<!--        <tr class="text-center">-->
<!--            <th style="width:50%">내용</th>-->
<!--            <th>글쓴이</th>-->
<!--            <th>작성일시</th>-->
<!--        </tr>-->
<!--        </thead>-->
        <tbody>
        <tr class="text-center" th:each="store : ${ownerStoreList}">
<!--            <td th:text="${store.author.getnickname}"></td>-->
            <td th:text="${store.name}"></td>
            <td th:text="${store.category}"></td>
            <td th:text="${store.content}"></td>
            <td>
                <a th:href="@{|#|}" th:text="수정"></a>
            </td>
            <td>
                <a th:href="@{|#|}" th:text="삭제"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</html>